html,
body {
  scrollbar-gutter: stable;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html[data-scroll-locked],
body[data-scroll-locked],
[data-scroll-locked] {
  --removed-body-scroll-bar-size: 0px;
  padding-right: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}

@supports not (scrollbar-gutter: stable) {
  html {
    overflow-y: scroll;
  }
}
